/* .form_block{
    
} */

.form_user{
    margin: 0 auto;
}

.wrapper-fields{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px lightseagreen solid;
    border-radius: 20px;
    width: 30%;
    padding: 20px;
    background-color: aliceblue;
    box-shadow: 2px 2px 2px black;
}



.field-field input{
    width: 95%;
    background-color: cadetblue;
    border-radius: 10px;
    height: 30px;
    color: aliceblue;
    font-size: 25px;
    text-align: center;
    border: 2px white solid;
    box-shadow: 2px 2px 2px black;

}

.field-field{
    width: 100%;
}
.field-field input:focus{
    background-color: aliceblue;
    color: black;
}

.field-label{
    font-size: 30px;
    color: cadetblue;
    text-shadow: 1px 1px 2px rgb(14, 46, 105);
    align-self: flex-start;
}

.wrapper-field_group{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.field-help_text{
    font-size: 15px;
    color: cadetblue;
    align-self: flex-start;    
    margin-top: 10px;
}

.field-errors{
    font-size: 15px;
    color: cadetblue;
    align-self: flex-start;    
    margin-bottom: 5px;
}
.field-errors ul{
    list-style-type: none;
    display: inline;
    margin-bottom: 10px;
    color: brown;
    padding: 0;
    font-size: 18px;
}
.button_style{
    background-color: cadetblue;
    border-radius: 10px;
    color: aliceblue;
    font-size: 25px;
    text-align: center;
    border: 2px white solid;
    box-shadow: 2px 2px 2px black;    
    margin-top: 10px; 
}
.register_button{
    width: 50%; 
    height: 50px;
}

.block_button_type_train_car{
    display: flex;
    justify-content: center;
    margin: 10px auto 30px auto;
    flex-wrap: wrap;
    width: 80%;
}


.button_type_train_car{
    margin:0 10px 10px;
    padding: 20px;
}

.button_style:hover{
    background-color: rgb(104, 173, 175);
    color: rgb(44, 40, 40); 
    cursor: pointer;
}

.button_style:active{
    background-color: rgb(81, 139, 141);
}


.button_index_form_block{
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.button_index_form{
    padding: 10px;
    margin:10px;
    
}


