

.train-car{
    border: 3px cadetblue solid;
    border-radius: 30px;
    padding: 10px;
    margin: 5px auto;
}

.seat{
    width: 20px;
    height: 20px;
    background-color: rgb(116, 176, 179);
    margin: 2px;
    border-radius: 5px;
}

.row{
    display: flex;
    margin: 10px;
}