

.train-car{
    display: flex;
    flex-direction: column;
    width: max-content;
    border: 3px cadetblue solid;
    border-radius: 30px;
    padding: 10px;
    margin: 5px auto;
}

.seat{
    display: flex;
    width: 50px;
    height: 50px;
    background-color: rgb(116, 176, 179);
    margin: 2px;
    border-radius: 5px;
    color: aliceblue;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    margin: 10px;
}

.true{
    background-color: silver;

}

.active{
    background-color: rgb(41, 116, 119);
}

.card_select_seat{
    border: 2px cadetblue solid;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    color: cadetblue;
    
}

.card_select_seat p{
    margin: 0;
}