{% extends 'base.html' %}

{% block title %}Buy ticket{% endblock title %}



{% block content %}
    {{ info }}
    {% include 'includes/navbar.html' %}
    
    {% for item in range %}
        hello
    {% endfor %}
    <div class="train-car">       
        {% for row in range_number_of_rows %}
                <div class='row'>
                    {% for seat in range_number_of_seats %}
                        <div class="seat">
                                {{seat}}
                        </div>
                    {% endfor %}
                </div>
   
        {% endfor %}
            
        {{ tr_num }}
    </div>   
{% endblock content %}