{% extends 'base.html' %}

{% block title %}Buy ticket{% endblock title %}
{% load filters %}
{% load static %}
{% block scripts %}
    
{% endblock scripts %}

{% block content %}
    
    {% include 'includes/navbar.html' %}
    <div class="block_button_type_train_car">
        {% for type_train_car, number_train_car in number_and_type_train_car.items %}  
            {% for number in number_train_car %}
                <button class='button_type_train_car button_style' number_train="{{ tr_num }}" number_train_car="{{ number }}" type_train_car='{{ type_train_car }}'>
                    {{ type_train_car|title }} №{{ number }}          
                </button>        
            {% endfor %}              
        {% endfor %}
    </div>
    <div class="train_block" number_train="{{tr_num}}" type_train_car="{{ type_train_car }}">
        <button class='order_button button_style'>Order</button>    
    </div>

    <script src="{% static 'train_app/js/func.js' %}"></script>
    <script src="{% static 'train_app/js/buy_tickets.js' %}"></script>
{% endblock content %} 