{% extends 'base.html' %}

{% block title %}Buy ticket{% endblock title %}
{% load filters %}
{% load static %}
{% block scripts %}
    <script src="{% static 'train_app/js/buy_tickets.js' %}"></script>
{% endblock scripts %}

{% block content %}
    {% include 'includes/navbar.html' %}
    <div class="block_button_type_train_car">
        {% for number_train_car, type_train_car in number_and_type_train_car.items %} 
            <button class='button_type_train_car button_style' number_train="{{ tr_num }}" number_train_car="{{ number_train_car }}" type_train_car='{{ type_train_car }}'>
                {{ type_train_car }}{{ number_train_car }}          
            </button>     
        {% endfor %}
    </div>
    <div class="train-car">
        {% for row in first_view_type_train_car.number_of_rows|range_filter %}
            <div class="row">
                {% for seats in first_view_type_train_car.number_of_seats|range_filter %}
                    <div class="seat">

                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    
  
    {{ cupe.number_of_seats }}

   
{% endblock content %} 