{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% block title %}Main{% endblock %}

{% block content %}
    {% include 'includes/navbar.html' %}
    {{ user.is_authenticated  }}
    <h1>Hi {{ user }}</h1>
    <form action="" method="post">
        {% csrf_token %} 
        {% include 'includes/users_form.html' with button_name='Search' url_name='main_name' %}
        
        

        {{ city_ways }}
        {{ city_data }}
        {{ not_found }}
        
    </form>   
    <div class="block-list_tickets">
        {% for way, city_info, type_train_car in city_ways_and_city_data %}
            {{ way }}
            {{ city_info }}
            <div class="list-tickets">
                <p class="list-tickets_path">
                    <span class="label-info">Train path:</span> {{ way.short_train_path }}
                    <span class="label-info">Number Train:</span> {{ city_info.0.number_trains }}
                    <span class="label-info">Arrives in the {{ city_info.0.city_name }}:</span> {{ city_info.0.from_city_time }}
                    <span class="label-info">Arrives in the {{ city_info.1.city_name }}:</span> {{ city_info.1.from_city_time }}   
                </p>  
                {% if type_train_car|isinstance_class_list %}
                    {% for train_car in type_train_car %}
                        <button onclick="window.location.href = 'http://127.0.0.1:8000/buy_ticket/?number_train={{city_info.0.number_trains}}&type_train_car={{train_car}}'">{{ train_car }}</button> 
                    {% endfor %} 
                {% else %}
                    <button onclick="window.location.href = 'http://127.0.0.1:8000/buy_ticket/?number_train={{city_info.0.number_trains}}&type_train_car={{type_train_car}}'">{{ type_train_car }}</button>    
                {% endif %}
                            
            </div>   
            
        
        {% endfor %} 
           
    </div>
    
    <script src="{% static 'train_app/js/train_car.js' %}"></script>
{% endblock %}
