{% extends 'base.html' %}
{% load static %}

{% block content %}
    {{ req }}
    <form action="{% url 'order_ticket_name' %}" method="post">
        {% csrf_token %}

        <div class="wrapper-fields">
            {% for field in form %} 
            <div class="wrapper-field_group">
                <div class="field-label">
                    {{ field.label }}
                </div>
                {% if field.errors %}
                    <div class="field-errors">                       
                            {{ field.errors }}                        
                    </div>
                {% endif %}
                <div class="field-field">
                    {{ field }}
                </div>                           
                <div class="field-help_text">
                    {{ field.help_text }}
                </div> 
            </div>                                                            
            {% endfor %}
        </div>  
        <div class="wrapper-fields">
            {% for field in form %} 
            <div class="wrapper-field_group">
                <div class="field-label">
                    {{ field.label }}
                </div>
                {% if field.errors %}
                    <div class="field-errors">                       
                            {{ field.errors }}                        
                    </div>
                {% endif %}
                <div class="field-field">
                    {{ field }}
                </div>                           
                <div class="field-help_text">
                    {{ field.help_text }}
                </div> 
            </div>                                                            
            {% endfor %}
        </div>      
        <button>Buy</button>
        {{ req }}
    </form>
    <script src="{% static 'train_app/js/order_ticket.js' %}"></script>
{% endblock content %}