{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    {% include 'includes/navbar.html' %}
    <form action="{% url 'register_user_name' %}" method="post">
        {% csrf_token %}
        {% for field in form %}   
                <div class="">
                    {{ field.label }}
                    {{ field.errors }}
                    {{ field }}
                </div>      
        {% endfor %}
        <button>Register</button>
    </form> 
{% endblock %}