{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    {% include 'includes/navbar.html' %}
    <form action="{% url 'register_user_name' %}" method="post">
        {% csrf_token %}
        {% comment %} {{ form }} {% endcomment %}
        {% for field in form %}   
                <div class="">
                    {{ field.label }}
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                    {{ field }}                   
                    <div class="">
                        {{ field.help_text }}
                    </div>                   
                </div>       
        {% endfor %}
        {{ test }}
        <button>Register</button>
    </form> 
{% endblock %}